<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Login Form</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
</head>
<body>
  <div class="login">
    <h1><i class="fa fa-h-square fa-4x" aria-hidden="true" style="text-align: center"></i></h1>
    <h1>
       L o g i n
    </h1>
    <form method="post">
      <input type="text" name="userName" placeholder='Your Name' required="required" [(ngModel)] = "userName"/>
      <input type="password" name="userPassword" placeholder="Your password" required="required" [(ngModel)] = "userPassword"/>
      <button class="btn btn-primary btn-block btn-large" (click)="loginToSystem()">Let me in.</button>
      <button class="btn btn-success btn-block btn-large" (click)="signUp()">SignUp</button>
    </form>
  </div>
  <script src="js/index.js"></script>
</body>
</html>
